<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    
    <property name="LOG_DIR" value="logs"/>
    
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_DIR}/ptm-service.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/archived/%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING" />
    </root>

    <logger name="eu.dnetlib.ptm.service" level="DEBUG"/>

</configuration>